.deeppink {
    color: deeppink;
}

.dodgerblue {
    color: dodgerblue;
}

body {
    font-size: 100%;
}

ARTICLE {
    margin-left: 5%;
    margin-right: 10%;
}

footer{
    margin-top: 10%;
}

.slate-grey {
    color: slategrey;
}

code {
    color: deeppink;
}

.code {
    background-color: #ffe0fa;
}

.big-code{
    margin-right: 0px;
}
pre {
    margin-left: 0px;
    background-color: #fcfcfc;
    border: 2px solid #999;
    display: block;
    padding: 5px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 9px;
    margin-right: 40%;
}

h4 {
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

li {
    line-height: 25px;
}

.banner {
    height: 100px;
    width: fit-content;
}


