.deeppink {
    color: deeppink;
}

.dodgerblue{
    color: dodgerblue;
}

body {
    font-size: 100%;
}

.slate-grey {
    color: slategrey;
}

code {
    color: deeppink;

    /*margin-right: 900px;*/
}

.code {
    background-color: #ffe0fa	;
}

pre {
    margin-left: 0px;
    background-color: #fcfcfc;
    border: 2px solid #999;
    display: block;
    padding: 5px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 9px;
}

h4{
    font-weight: bold;
}

h6{
    font-weight: bold;
}

h1{
    font-weight: bold;
}

li{
    line-height: 25px;
}

.banner{
    height:100px;
    width: fit-content;
}

