{% extends "base.html" %}
{% block content %}
    <heaad>Index</heaad>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a class="nav-link " href="{{ url_for('simple_pages.show', page="page1") }}">
                    <img src="{{ url_for('static', filename='images/git4.webp') }}" class="d-block w-100" alt="..."
                         height="500px" width="100px">
                </a>
            </div>
            <div class="carousel-item">
                <a class="nav-link " href="{{ url_for('simple_pages.show', page="page2") }}">
                    <img src="{{ url_for('static', filename='images/docker.png') }}" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a class="nav-link " href="{{ url_for('simple_pages.show', page="page3") }}">
                    <img src="{{ url_for('static', filename='images/flask.png') }}" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a class="nav-link " href="{{ url_for('simple_pages.show', page="page4") }}">
                    <img src="{{ url_for('static', filename='images/cicd.jpeg') }}" class="d-block w-100" alt="...">
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


{#    <div class="row">#}
{#        <div class="col">#}
{#            <div class="card" style="width: 18rem;">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Git</h5>#}
{##}
{#                    <p class="card-text">VCS</p>#}
{#                    <a class="nav-link " href="{{ url_for('simple_pages.show', page="page1") }}">Learn more</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col">#}
{#            <div class="card" style="width: 18rem;">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Docker</h5>#}
{#                    <p class="card-text">Containerization</p>#}
{#                    <a class="nav-link " href="{{ url_for('simple_pages.show', page="page2") }}">Learn more</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col">#}
{#            <div class="card" style="width: 18rem;">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">Python/Flask</h5>#}
{#                    <p class="card-text">Development</p>#}
{#                    <a class="nav-link " href="{{ url_for('simple_pages.show', page="page3") }}">Learn more</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col">#}
{#            <div class="card" style="width: 18rem;">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">CI/CI</h5>#}
{#                    <p class="card-text">Continuous Integration and Deployment</p>#}
{#                    <a class="nav-link " href="{{ url_for('simple_pages.show', page="page4") }}">Learn more</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{% endblock %}