{% extends "base_flayout.html" %}
{% block content %}

    <h1>Object Oriented Programming with Python</h1>
    <p>
        In Python, object-oriented Programming (OOPs) is a programming paradigm that uses objects and classes in
        programming. It aims to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in
        the programming. The main concept of OOPs is to bind the data and the functions that work on that together as a
        single unit so that no other part of the code can access this data.
    </p>

    <h4>Main Concepts of Object-Oriented Programming (OOPs)</h4>
    <div>
        <p>
        <ul>
            <li>Class</li>
            <li>Objects</li>
            <li>Polymorphism</li>
            <li>Encapsulation</li>
            <li>Inheritance</li>
        </ul>

        </p>
    </div>

    <div>
        <h4>Class</h4>
        <p>
            A class is a collection of objects. A class contains the blueprints or the prototype from which the objects
            are being created. It is a logical entity that contains some attributes and methods.
        </p>
    </div>
{% endblock %}