{% extends "base_flayout.html" %}
{% block content %}

    <h1>Object Oriented Programming with Python</h1>
    <p>
        In Python, object-oriented Programming (OOPs) is a programming paradigm that uses objects and classes in
        programming. It aims to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in
        the programming. The main concept of OOPs is to bind the data and the functions that work on that together as a
        single unit so that no other part of the code can access this data.
    </p>

    <h4>Main Concepts of Object-Oriented Programming (OOPs)</h4>
    <div>
        <p>
        <ul>
            <li>Class</li>
            <li>Objects</li>
            <li>Polymorphism</li>
            <li>Encapsulation</li>
            <li>Inheritance</li>
        </ul>

        </p>
    </div>

    <div>
        <h4>Class</h4>
        <p>
            A class is a collection of objects. A class contains the blueprints or the prototype from which the objects
            are being created. It is a logical entity that contains some attributes and methods.
        </p>

        <p>
            Some points on Python class:
        <ul>
            <li>Classes are created by keyword class.</li>
            <li>Attributes are the variables that belong to a class.</li>
            <li>Attributes are always public and can be accessed using the dot (.) operator.</li>
            <li>The syntax for creating a class named Addition is :
                <code>
                    <pre><span class="code">class Addition:</span></pre>
                </code>
                And you can create a method add inside, which returns the sum of two numbers
                <pre class="dodgerblue">
class Addition:
"""This is the Addition Class"""

@staticmethod
def add(value1, value2):
    """This is the addition method"""
    return value1 + value2</pre>
            </li>
        </ul>
        </p>

        <div>
            <h6>The Self</h6>
            <p>
            <ol>
                <li>
                    Class methods must have an extra first parameter in the method definition. We do not give a value
                    for
                    this parameter when we call the method, Python provides it.
                </li>
                <li>
                    If we have a method that takes no arguments, then we still have to have one argument.
                </li>
                <li>
                    This is similar to this pointer in C++ and this reference in Java.
                </li>
            </ol>
            </p>
        </div>
        <div>
            <h6><span class="code deeppink">__init__</span></h6>
            <p>
                The __init__ method is similar to constructors in C++ and Java. Constructors are used to initialize the
                object’s state. The task of constructors is to initialize(assign values) to the data members of the
                class
                when an object of class is created. Like methods, a constructor also contains collection of
                statements(i.e.
                instructions) that are executed at time of Object creation. It is run as soon as an object of a class is
                instantiated. The method is useful to do any initialization you want to do with your object.
            </p>
        </div>
    </div>

    <div>
        <h4>Objects</h4>
        <p>
            The object is an entity that has a state and behavior associated with it. It may be any real-world object
            like a mouse, keyboard, chair, table, pen, etc. Integers, strings, floating-point numbers, even arrays, and
            dictionaries, are all objects. More specifically, any single integer or any single string is an object. The
            number 12 is an object, the string “Hello, world” is an object, a list is an object that can hold other
            objects, and so on. You’ve been using objects all along and may not even realize it.
        </p>
        <p>
            An object consists of :
        <ul>
            <li>
                <b>State: </b> It is represented by the attributes of an object. It also reflects the properties of an
                object.
            </li>
            <li>
                <b>Behavior: </b> It is represented by the methods of an object. It also reflects the response of an
                object to other objects.
            </li>
            <li>
                <b>Identity: </b> It gives a unique name to an object and enables one object to interact with other
                objects.
            </li>
        </ul>
        </p>

        <p>
            To create an object named Add of the class Addition:
        <div><code>
            <pre>Add = Addition()</pre>
        </code></div>
        </p>
        <p>
            To use a method of a class, use can call it with a dot (.) following the method name
        <div><code>
            <pre>x = Add.add(5, 9)</pre>
        </code></div>
        <ul>
            <li>
                Here, x will store the sum of 5 and 9 i.e. 14
            </li>
        </ul>
        </p>

    </div>


    <div>
        <h4>Polymorphism</h4>
        <p>
            Polymorphism simply means having many forms. For example, we need to determine if the given species of birds
            fly or not, using polymorphism we can do this using a single function.
        </p>
    </div>

    <div>
        <h4>Encapsulation</h4>
        <p>
            Encapsulation is one of the fundamental concepts in object-oriented programming (OOP). It describes the idea
            of wrapping data and the methods that work on data within one unit. This puts restrictions on accessing
            variables and methods directly and can prevent the accidental modification of data. To prevent accidental
            change, an object’s variable can only be changed by an object’s method. Those types of variables are known
            as private variables.

        </p>
        <p>
            Class Addition containing a method add:
        </p>

        <code>

            <pre>class Addition:
    """This is the Addition Class"""

    @staticmethod
    def add(value1, value2):
        """This is the addition method"""
        return value1 + value2</pre>
        </code>
    </div>

    <div>
        <h4>Inheritance</h4>
        <p>
            Inheritance is the capability of one class to derive or inherit the properties from another class. The class
            that derives properties is called the derived class or child class and the class from which the properties
            are being derived is called the base class or parent class.
        <ul>
            <li>
                It represents real-world relationships well.
            </li>
            <li>
                It provides the reusability of a code. We don’t have to write the same code again and again. Also, it
                allows us to add more features to a class without modifying it.
            </li>
            <li>
                It is transitive in nature, which means that if class B inherits from another class A, then all the
                subclasses of B would automatically inherit from class A. <br>
                Here, class addition inherits class Calculations:
            </li>

        </ul>
        </p>

        <code><pre>class Addition(Calculations):
    """Calculation addition class"""

    def get_result(self):
        """get the addition result"""

        res = 0
        for value in self.values:
            res = Add.add(res, value)
        return res</pre>
        </code>

    </div>

    <div>
        <h4>Instantiation</h4>
        <p>
            Used to create an object instance from a class

            To instantiate is to create such an instance by, for example, defining one particular variation of object
            within a class, giving it a name, and locating it in some physical place. <br> 1) In object-oriented
            programming,
            some writers say that you instantiate a class to create an object, a concrete instance of the class.
        </p>
    </div>

    <div>
        <h4>Namespace</h4>
        <p>
            Namespace is the approach of grouping named scope to avoid conflicts with similar names as used in other
            scopes. Namespace block contains symbols that are grouped into a named scope to avoid conflicts with
            similarly named symbols in other scopes.
            <br>
            Better organization by grouping classes that work together Same name to be used for more than one class
            without conflicts

        </p>
    </div>

    <div>
        <h4>Constructor</h4>
        <p>
            A constructor is a special kind of method that Python calls when it instantiates an object using the
            definitions found in your class. Python relies on the constructor to perform tasks such as initializing
            (assigning values to) any instance variables that the object will need when it starts.
        </p>
    </div>

    <div>
        <h4>Fixture</h4>
        <p>
            Software test fixtures initialize test functions. They provide a fixed baseline so that tests execute
            reliably and produce consistent, repeatable, results. Initialization may setup services, state, or other
            operating environments. These are accessed by test functions through arguments; for each fixture used by a
            test function there is typically a parameter (named after the fixture) in the test function’s definition.


        </p>
    </div>

    <div>
        <h4>Type Hint and Type Cast</h4>
        <p>
        <ul>
            <li>
                Type hinting can also be used to force a function to get an argument of type Object. For this purpose,
                we
                put the name of the class in front of the argument name in the function.
            </li>
            <li>
                Type Casting is the method to convert the variable data type into a certain data type in order to the
                operation required to be performed by users.
            </li>

        </ul>


        </p>
    </div>

    <div>
        <h4>Unit Test</h4>
        <p>
            Unit testing is a technique in which particular module is tested to check by developer himself whether there
            are any errors. The primary focus of unit testing is test an individual unit of system to analyze, detect,
            and fix the errors.

        </p>

        To check if addition class returns correct answer to a given tuple.
        <code><pre>def test_calculator_add_method():
    """Testing the Calculator Add"""
    # this is show using the calculator object add method

    ## Act for AAA testing
    result = Calculator.add(tuple_list())

    ## Assertion for AAA testing
    assert result == 3</pre>
        </code>

    </div>

    <div>
        <h4>Static</h4>
        <p>
            When we declare a variable inside a class, but outside the method, it is called a static or class variable.
            It can be called directly from a class but not through the instances of a class. However, the static
            variables are quite different from the other member, and it does not conflict with the same variable name in
            the Python program


        </p>
    </div>

    <div>
        <h4>Instance Method</h4>
        <p>

            Instance method are methods which require an object of its class to be created before it can be called. To
            invoke a instance method, we have to create an Object of the class in which the method is defined.
        </p>
    </div>

    <div>
        <h4>Instance Property</h4>
        <p>
            An instance attribute is a Python variable belonging to only one object. It is only accessible in the scope
            of the object and it is defined inside the constructor function of a class.
        </p>
    </div>

    <div>
        <h4>Static Method</h4>
        <p>
            Static methods, much like class methods, are methods that are bound to a class rather than its object. They
            do not require a class instance creation. So, they are not dependent on the state of the object.
            <br><br>
            In other words...
            <br><br>

            Static methods in Python are extremely similar to python class level methods, the difference being that a
            static method is bound to a class rather than the objects for that class. This means that a static method
            can be called without an object for that class.
        </p>
    </div>

    <div>
        <h4>Static Property</h4>
        <p>

            A static property or method acts somewhat like a globally accessible function or variable. Simply import the
            class, and you can read the same value from anywhere else in the program. It's usually not advisable to rely
            on global variables as they can lead to spaghetti code, but that's not to say that they can't be used.
        </p>
    </div>



{% endblock %}