{% extends "base_flayout.html" %}
{% block content %}

    <h1>Object Oriented Programming with Python</h1>
    <p>
        In Python, object-oriented Programming (OOPs) is a programming paradigm that uses objects and classes in
        programming. It aims to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in
        the programming. The main concept of OOPs is to bind the data and the functions that work on that together as a
        single unit so that no other part of the code can access this data.
    </p>

    <h4>Main Concepts of Object-Oriented Programming (OOPs)</h4>
    <div>
        <p>
        <ul>
            <li>Class</li>
            <li>Objects</li>
            <li>Polymorphism</li>
            <li>Encapsulation</li>
            <li>Inheritance</li>
        </ul>

        </p>
    </div>

    <div>
        <h4>Class</h4>
        <p>
            A class is a collection of objects. A class contains the blueprints or the prototype from which the objects
            are being created. It is a logical entity that contains some attributes and methods.
        </p>

        <p>
            Some points on Python class:
        <ul>
            <li>Classes are created by keyword class.</li>
            <li>Attributes are the variables that belong to a class.</li>
            <li>Attributes are always public and can be accessed using the dot (.) operator.</li>
            <li>The syntax for creating a class named Addition is :
                <code>
                    <pre><span class="code">class Addition:</span></pre>
                </code>
                And you can create a method add inside, which returns the sum of two numbers
                <pre>
                <code>
                    class Addition:
                    """This is the Addition Class"""

                    @staticmethod
                    def add(value1, value2):
                        """This is the addition method"""
                        return value1 + value2</code>
                </pre>
            </li>
        </ul>
        </p>

        <div>
            <h6>The Self</h6>
            <p>
            <ol>
                <li>
                    Class methods must have an extra first parameter in the method definition. We do not give a value
                    for
                    this parameter when we call the method, Python provides it
                </li>
                <li>
                    If we have a method that takes no arguments, then we still have to have one argument.
                </li>
                <li>
                    This is similar to this pointer in C++ and this reference in Java.
                </li>
            </ol>
            </p>
        </div>
        <div>
            <h6>__init__</h6>
            <p>
                The __init__ method is similar to constructors in C++ and Java. Constructors are used to initialize the
                object’s state. The task of constructors is to initialize(assign values) to the data members of the
                class
                when an object of class is created. Like methods, a constructor also contains collection of
                statements(i.e.
                instructions) that are executed at time of Object creation. It is run as soon as an object of a class is
                instantiated. The method is useful to do any initialization you want to do with your object.
            </p>
        </div>
    </div>

    <div>
        <h4>Objects</h4>
        <p>
            The object is an entity that has a state and behavior associated with it. It may be any real-world object
            like a mouse, keyboard, chair, table, pen, etc. Integers, strings, floating-point numbers, even arrays, and
            dictionaries, are all objects. More specifically, any single integer or any single string is an object. The
            number 12 is an object, the string “Hello, world” is an object, a list is an object that can hold other
            objects, and so on. You’ve been using objects all along and may not even realize it.
        </p>
        <p>
            An object consists of :
        <ul>
            <li>
                <b>State: </b> It is represented by the attributes of an object. It also reflects the properties of an
                object.
            </li>
            <li>
                <b>Behavior: </b> It is represented by the methods of an object. It also reflects the response of an
                object to other objects.
            </li>
            <li>
                <b>Identity: </b> It gives a unique name to an object and enables one object to interact with other
                objects.
            </li>
        </ul>
        </p>
        <p>
            To create an object named Add of the class Addition:
        <pre><code>Add = Addition()</code></pre>
        </p>
        <p>
            To use a method of a class, use can call it with a dot (.) following the method name
        <pre><code>x = Add.add(5, 9)</code></pre>
        <ul>
            <li>
                Here, x will store the sum of 5 and 9 i.e. 14
            </li>
        </ul>
        </p>
    </div>


    <div>
        <h4>Polymorphism</h4>
        <p>

        </p>
    </div>

    <div>
        <h4>Encapsulation</h4>
        <p>

        </p>
    </div>

    <div>
        <h4>Inheritance</h4>
        <p>

        </p>
    </div>
{% endblock %}