{% extends "base.html" %}
{% block content %}
    <h1 >Git</h1>
    <p>Git is a free and open source distributed version control system designed to handle everything from small to very
        large projects with speed and efficiency.</p>
    <p>Git is a software for tracking changes in any set of files, usually used for coordinating work among
        programmers collaboratively developing source code during software development. Its goals include speed, data
        integrity, and support for distributed, non-linear workflows (thousands of parallel branches running on
        different systems).</p>

    <h1

{% endblock %}