{% extends "base.html" %}
{% block content %}
    <h1>Continuous Integration and Deployment</h1>
    <p>

        Continuous integration is a step in which all code is merged as developers complete code in order to run
        automated builds and tests. Continuous deployment is the process of moving software that has been built and
        tested successfully into production. Automated tests verify the software functionality, and automated deployment
        services deliver them to end users. This helps developers discover bugs and defects faster and increases
        productivity and faster release cycles.

    <li>
        <b>Continuous integration:</b> is a DevOps software development practice where developers regularly merge their
        code changes into a central repository, after which automated builds and tests are run.
    </li>
    <li>
        <b>Continuous Deployment:</b> is a software release process that uses automated testing to validate if changes
        to a codebase are correct and stable for immediate autonomous deployment to a production environment.
    </li>
    </p>
{% endblock %}