{% extends "base_flayout.html" %}
{% block content %}

    <h1>SOLID Principles</h1>
    <p>
        SOLID is an acronym for the first five object-oriented design (OOD) principles by Robert C. Martin
    </p>
    <p>
        These principles establish practices that lend to developing software with considerations for maintaining and
        extending as the project grows. Adopting these practices can also contribute to avoiding code smells,
        refactoring code, and Agile or Adaptive software development.
    </p>
    <p>
        SOLID stands for:
    <ul>
        <li><b class="dodgerblue">S:</b> Single-responsiblity Principle</li>
        <li><b class="dodgerblue">O:</b> Open-closed Principle</li>
        <li><b class="dodgerblue">L:</b> Liskov Substitution Principle</li>
        <li><b class="dodgerblue">I:</b> Interface Segregation Principle</li>
        <li><b class="dodgerblue">D:</b> Dependency Inversion Principle</li>
    </ul>
    </p>

    <h6 class="dodgerblue">Single-responsiblity Principle</h6>
    <p>
        A class should have one and only one reason to change, meaning that a class should have only one job.
    </p>
    <p>
        This principle states that “a class should have only one reason to change” which means every class should have a
        single responsibility or single job or single purpose. Take the example of developing software. The task is
        divided into different members doing different things as front-end designers do design, the tester does testing
        and backend developer takes care of backend development part then we can say that everyone has a single job or
        responsibility.
    </p>
    <p>
        Most of the time it happens that when programmers have to add features or new behavior they implement everything
        into the existing class which is completely wrong. It makes their code lengthy, complex and consumes time when
        later something needs to be modified. Use layers in your application and break God classes into smaller classes
        or modules.
    </p>
    <code><pre>class Add:
    @staticmethod
    def add(num1, num2):
        add_res = num1 + num2
        return add_res
        return add_res
</pre>
    </code>

    <h6 class="dodgerblue">Open-closed Principle</h6>
    <p>
        Objects or entities should be open for extension but closed for modification. This means that a class should be
        extendable without modifying the class itself.
    </p>
    <p>
        Suppose developer A needs to release an update for a library or framework and developer B wants some
        modification or add some feature on that then developer B is allowed to extend the existing class created by
        developer A but developer B is not supposed to modify the class directly. Using this principle separates the
        existing code from the modified code so it provides better stability, maintainability and minimizes changes as
        in your code.
    </p>
    <code><pre>class Add:
    @staticmethod
    def add(num1, num2):
        add_res = num1 + num2
        return add_res
        return add_res
</pre>
    </code>

    <p>
        As we can see in the above example, the classes contain static method which close current functionalities for
        modifications but new methods can be added to add features
    </p>



    <h6 class="dodgerblue">Liskov Substitution Principle</h6>
    <p>
        Let q(x) be a property provable about objects of x of type T. Then q(y) should be provable for objects y of type
        S where S is a subtype of T. This means that every subclass or derived class should be substitutable for their
        base or parent class.
    </p>
    <p>
        You can understand it in a way that a farmer’s son should inherit farming skills from his father and should be
        able to replace his father if needed. If the son wants to become a farmer then he can replace his father but if
        he wants to become a cricketer then definitely the son can’t replace his father even though they both belong to
        the same family hierarchy.
    </p>
    <p>
        One of the classic examples of this principle is a rectangle having four sides. A rectangle’s height can be any
        value and width can be any value. A square is a rectangle with equal width and height. So we can say that we can
        extend the properties of the rectangle class into square class. In order to do that you need to swap the child
        (square) class with parent (rectangle) class to fit the definition of a square having four equal sides but a
        derived class does not affect the behavior of the parent class so if you will do that it will violate the Liskov
        Substitution Principle.
    </p>

    <code><pre>from calculator.operations import Add, Sub, Mul, Div
class Calculator:
    """ The Base abstract class for calculation"""

    num_list = []

    def __init__(self, num_list):
        """constructor for calculation class"""
        self.num_list = num_list
        self.values_list = Calculator.float_conversion(num_list)

    @classmethod
    def create(cls, num_list):
        return cls(num_list)
</pre>
    </code>

    <p>In the above example, we are using the child class to use the functionality of the parent class.
    </p>

    <h6 class="dodgerblue">Interface Segregation Principle</h6>
    <p>
        A client should never be forced to implement an interface that it doesn’t use, or clients shouldn’t be forced to
        depend on methods they do not use.
    </p>

    <h6 class="dodgerblue">Dependency Inversion Principles</h6>
    <p>
        Entities must depend on abstractions, not on concretions. It states that the high-level module must not depend
        on the low-level module, but they should depend on abstractions.
    </p>
    <p>
        The Interface Segregation Principle (ISP) states that a client should not be exposed to methods it doesn't need.
        Declaring methods in an interface that the client doesn't need pollutes the interface and leads to a “bulky” or
        “fat” interface.
    </p>
    <p>
        If a high module or class will be dependent more on low-level modules or class then your code would have tight
        coupling and if you will try to make a change in one class it can break another class which is risky at the
        production level. So always try to make classes loosely coupled as much as you can and you can achieve this
        through abstraction. The main motive of this principle is decoupling the dependencies so if class A changes the
        class B doesn’t need to care or know about the changes.
    </p>

    <h4>Design Patterns</h4>
    <p>
        <b>Design patterns</b> are typical solutions to commonly occurring problems in software design. They are like
        pre-made
        blueprints that you can customize to solve a recurring design problem in your code.
    </p>
    <p>
        You can’t just find a pattern and copy it into your program, the way you can with off-the-shelf functions or
        libraries. The pattern is not a specific piece of code, but a general concept for solving a particular problem.
        You can follow the pattern details and implement a solution that suits the realities of your own program.
    </p>
    <p>
        Patterns are often confused with algorithms, because both concepts describe typical solutions to some known
        problems. While an algorithm always defines a clear set of actions that can achieve some goal, a pattern is a
        more high-level description of a solution. The code of the same pattern applied to two different programs may be
        different.
    </p>
    <p>
        An analogy to an algorithm is a cooking recipe: both have clear steps to achieve a goal. On the other hand, a
        pattern is more like a blueprint: you can see what the result and its features are, but the exact order of
        implementation is up to you.
    </p>

    <p>
        Most patterns are described very formally so people can reproduce them in many contexts. Here are the sections
        that are usually present in a pattern description:
    <ul>
        <li>
            <b>Intent</b> of the pattern briefly describes both the problem and the solution.
        </li>
        <li>
            <b>Motivation</b> further explains the problem and the solution the pattern makes possible.
        </li>
        <li>
            <b>Structure</b> of classes shows each part of the pattern and how they are related.
        </li>
        <li>
            <b>Code example</b> in one of the popular programming languages makes it easier to grasp the idea behind the
            pattern.
        </li>
    </ul>
    </p>

    <h6>Why should I learn patterns?</h6>
    <p>
        The truth is that you might manage to work as a programmer for many years without knowing about a single
        pattern. A lot of people do just that. Even in that case, though, you might be implementing some patterns
        without even knowing it. So why would you spend time learning them?

    <ul>
        <li>
            Design patterns are a toolkit of tried and tested solutions to common problems in software design. Even if
            you never encounter these problems, knowing patterns is still useful because it teaches you how to solve all
            sorts of problems using principles of object-oriented design.
        </li>
        <li>
            Design patterns define a common language that you and your teammates can use to communicate more
            efficiently. You can say, “Oh, just use a Singleton for that,” and everyone will understand the idea behind
            your suggestion. No need to explain what a singleton is if you know the pattern and its name.
        </li>
    </ul>


    </p>
{% endblock %}